{% extends 'backOfficeAdmin.html.twig' %}

{% block title %}Projet
{% endblock %}

{% block body %}
	<div class="container-xxl py-5">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-lg-6">
					<div class="about-img position-relative overflow-hidden p-5 pe-0">
						{% if projet.media %}
							<img class="img-fluid w-100" src="{{ asset('uploads/images/projet/' ~ projet.media) }}" alt="Projet Image">
						{% endif %}
					</div>
				</div>
				<div class="col-lg-6">
					<h1 class="mb-6">{{ projet.titre }}</h1>
					<p class="mb-6">{{ projet.description }}</p>
					<p>
						<strong>Prix:</strong>
						{{ projet.prix }}</p>
					<p>
						<strong>Isvisible:</strong>
						{{ projet.isvisible ? 'Yes' : 'No' }}</p>
					<p>
						<strong>CreatedAt:</strong>
						{{ projet.createdAt ? projet.createdAt|date('Y-m-d H:i:s') : '' }}</p>
					<p>
						<strong>UpdatedAt:</strong>
						{{ projet.updatedAt ? projet.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
					<div class="d-flex">
						<form action="{{ path('app_projet_toggle_status', {'idProjet': projet.idProjet}) }}" method="post" onsubmit="return confirm('Etes-vous sûr de vouloir changer le statut de cet élément ?');">
							<input type="hidden" name="_token" value="{{ csrf_token('toggle_status' ~ projet.idProjet) }}">
							<button type="submit" class="btn btn-danger py-3 px-5 me-3">Changer visibilité</button>
						</form>

						<a class="btn btn-secondary py-3 px-5" href="{{ path('app_projet_index') }}">
							<i class="ti-arrow-left"></i>
							Back to list</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
