{% extends 'backOfficeAdmin.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			border: 1px solid #dddddd;
			padding: 8px;
			text-align: left;
		}

		th {
			background-color: #f2f2f2;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		tr:hover {
			background-color: #dddddd;
		}
		h1 {
			color: #473516; /* Couleur du texte */
			font-size: 2em; /* Taille de la police */
			font-weight: bold; /* Gras */
			font-family: Arial, sans-serif; /* Police de caractères */
			margin-top: 20px; /* Marge en haut */
			margin-bottom: 20px; /* Marge en bas */
			text-align: center; /* Alignement du texte */
			text-transform: uppercase; /* Transformation du texte en majuscules */
			text-shadow: 2px 2px 4px #888888; /* Ombre du texte */
			/* Autres styles CSS si nécessaire */
		}
	</style>
{% endblock %}

{% block body %}
	<h1>Liste des code promo</h1>
	<br>
	<a href="{{ path('afficher_commande_back') }}" class="btn btn-primary btn-livraison">liste des commandes</a>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Code Promo</th>
				<th>Pourcentage</th>
				<th>Date d'Expiration</th>
				<th>Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for a in o %}
				<tr>
					<td>{{ a.id }}</td>
					<td>{{ a.codePromo }}</td>
					<td>{{ a.pourcentage }}</td>
					<td>{{ a.dateExpiration ? a.dateExpiration|date('Y-m-d') : '' }}</td>
					<td>{{ a.date ? a.date|date('Y-m-d') : '' }}</td>
					<td>
						<form action="{{ path('delete_codepromo', { 'id': a.id }) }}" method="post" style="display: inline;">
							<button type="submit" class="btn btn-danger">Supprimer</button>
						</form>
						<a href="{{ path('update_Codepromo', { 'id': a.id }) }}" class="btn btn-primary">Modifier</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
