{% extends 'base.html.twig' %}
{% block Category %}
<h1>Liste des code promo</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Code Promo</th>
            <th>Pourcentage</th>
            <th>Date d'Expiration</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for a in o %}
            <tr>
                <td>{{ a.id }}</td>
                <td>{{ a.codePromo }}</td>
                <td>{{ a.pourcentage }}</td>
                <td>{{ a.dateExpiration ? a.dateExpiration|date('Y-m-d') : '' }}</td>
                <td>{{ a.date ? a.date|date('Y-m-d') : '' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
