{% extends 'backOffice.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
    <style>
    table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.left-align {
    float: right;
}
.total-commandes {
            display: inline-block;
            padding: 10px;
            background-color: #f0f0f0;
            border: 2px solid #007bff;
            border-radius: 5px;
            font-weight: bold;
            color: #007bff;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        }

        /* Pagination Box */
        .pagination-box {
            border-radius: 5px;
            display: inline-block;
            padding: 10px;
            text-align: center;
            margin-top: 20px;
        }
        
        /* Pagination Styles */
        .pagination {
            display: inline-block;
        }
        
        .pagination a {
            color:#405165;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }
        
        .pagination a:hover {
            background-color: #f2f2f2; /* Light background color on hover */
        }
        
        .pagination .active {
            background-color: #F0A561; /* Light background color for active page */
        }
    </style>
{% endblock %}
{% block body %}
<h1>Liste des commandes</h1>

<table>
    <tr>
        <th>ID</th>
        <th>ID Utilisateur</th>
        <th>ID Projet</th>
        <th>Date</th>
        <th>Montant Total</th>
        <th>Date de Livraison Estimée</th>
        <th>Code Promo</th>
        <th>Status</th>
        <th>Prix</th>
        <th>Frais de Livraison</th>
        <th>Actions</th>
    </tr>
    <br>
    {% set totalCommande = o|length %}
    <p class="total-commandes">Nombre total de commandes :{{ totalCommande }}</p>

    <tr>
        {% for a in o %}
        <td>{{ a.idCmd }}</td>
        <td>{{ a.idUser }}</td>
        <td>{{ a.idProjet }}</td>
        <td>{{ a.date ? a.date|date('Y-m-d') : '' }}</td>
        <td>{{ a.mtTotal }}</td>
        <td>{{ a.dateLivraisonEstimee ? a.dateLivraisonEstimee|date('Y-m-d') : '' }}</td>
        <td>{{ a.codePromo }}</td>
        <td>{{ a.status }}</td>
        <td>{{ a.prix }}</td>
        <td>{{ a.fraisLiv }}</td>
        <td>
            <form action="{{ path('cancel_commande_back', { 'id': a.idCmd }) }}" method="post" style="display: inline;">
                <button type="submit" class="btn btn-danger">Annuler</button>
            </form>
            <a href="{{ path('update_Commande_back', { 'id': a.idCmd }) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('passer_livraison', {'id': a.idCmd}) }}" class="btn btn-primary btn-livraison">Passer à la livraison</a>

        </td>
    </tr>
    {% endfor %}
</table>

<div style="text-align: center;">
<div class="pagination-box">
        <div class="pagination">
            {% if currentPage > 1 %}
                <a href="{{ path('afficher_commande_back', {'page': currentPage - 1}) }}">Previous</a>
            {% endif %}
            
            {% for page in 1..totalPages %}
                <a href="{{ path('afficher_commande_back', {'page': page}) }}" {% if page == currentPage %}class="active"{% endif %}>{{ page }}</a>
            {% endfor %}
            
            {% if currentPage < totalPages %}
                <a href="{{ path('afficher_commande_back', {'page': currentPage + 1}) }}">Next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}