{% extends 'backOffice.html.twig' %}

{% block stylesheetProject %}
	<style>
		.card {
			margin-top: 20px;
		}

		.card-header {
			background-color: #764949;
			color: white;
			font-weight: bold;
		}

		.card-body {
			padding: 0;
		}

		.table {
			width: 100%;
			border-collapse: collapse;
		}

		.table th,
		.table td {
			padding: 8px;
			text-align: center;
		}

		.table th {
			background-color: #764949;
			color: white;
			border-radius: 10px;
		}

		.table tbody tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		.table tbody tr:hover {
			background-color: #f4a460;
		}

		.topic-image {
			max-width: 100px;
			max-height: 100px;
		}

		.delete-topic-link {
			color: red;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
			<h3>Liste des posts pour le sujet "{{ topicName }}"
			</h3>
		</div>
		<div class="card-body table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Editeur</th>
						<th>Titre</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for post in posts %}
						<tr>
							<td>{{ post.Editeur }}</td>
							<td>{{ post.Titre }}</td>
							<td>{{ post.Description }}</td>
							<td>
								<a href="{{ path('delete_post', {'id': post.Id}) }}" class="btn btn-danger">Supprimer</a>
								<a href="{{ path('update_Post', {'id': post.Id}) }}" class="btn btn-primary">Modifier</a>

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">No posts found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<a href="{{ path('ajouter_post') }}" class="btn btn-primary mt-3">Ajouter un post</a>
{% endblock %}
