{% extends 'base.html.twig' %}
{% block body %}
{% block stylesheet %}
    {{ parent() }}
            <link href="{{ asset('node_modules/video.js/dist/video-js.css') }}" rel="stylesheet">
    <style>
    table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    
    border-radius:20px;
}

th, td {
    padding: 8px;
    text-align: center;
    
}

th {
    background-color: #764949;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f4a460;
}
.left-align {
    float: right;
}
    </style>
{% endblock %}
{% block  posts%}
<video id="my-video" class="video-js" controls  width="640" height="360" data-setup="{}">
    <source src="test1.mp4" type="video/mp4">
    <!-- Additional video sources can be added here -->
</video>
{% endblock %}<a href="{{ path('update_Post', {'id':20 }) }}">Modifier le post</a>
<video id="my-video" class="video-js" controls preload="auto" width="640" height="360" data-setup="{}">
            <source src="{{ asset('test2.mp4') }}">
            <!-- Add other video sources if needed -->
            Votre navigateur ne supporte pas la lecture de vidéos HTML5.
        </video>
         {% block javascripts %}
        <script src="{{ asset('node_modules/video.js/dist/video.js') }}"></script>
        <script>
            // Initialize Video.js player
            videojs('my-video', {}, function() {
                // Player is initialized
            });
        </script>
    {% endblock %}
{% endblock %}