{% extends 'backOffice.html.twig' %}

{% block title %}Liste des topics
{% endblock %}

{% block stylesheetProject %}
	<style>
		.card {
			margin-top: 20px;
		}

		.card-header {
			background-color: #764949;
			color: white;
			font-weight: bold;
		}

		.card-body {
			padding: 0;
		}

		.table {
			width: 100%;
			border-collapse: collapse;
		}

		.table th,
		.table td {
			padding: 8px;
			text-align: center;
		}

		.table th {
			background-color: #764949;
			color: white;
			border-radius: 10px;
		}

		.table tbody tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		.table tbody tr:hover {
			background-color: #f4a460;
		}

		.topic-image {
			max-width: 100px;
			max-height: 100px;
		}

		.delete-topic-link {
			color: red;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
			<h3>Liste des topics</h3>
		</div>
		<div class="card-body table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Sujet</th>
						<th>Image</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for topic in topics %}
						<tr>
							<td>{{ topic.Nom }}</td>
							<td>{{ topic.Subject }}</td>
							<td>
								{% if topic.Image %}
									{{topic.Image}}
								{% else %}
									No Image
								{% endif %}
							</td>
							<td>
								<a href="{{ path('delete_topic', {'id': topic.id}) }}" class="btn btn-danger">Supprimer</a>
								<a href="{{ path('update_Topic', {'Topic_id': topic.id}) }}" class="btn btn-primary">Modifier</a>
								<a href="{{ path('afficher_post', {'Topic_id': topic.id}) }}" class="btn btn-secondary">Afficher Les postes reliés</a>

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">No topics found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<a href="{{ path('ajouter_topic') }}" class="btn btn-primary mt-3">Ajouter un topic</a>
{% endblock %}
