{% extends 'base.html.twig' %}
{% block body %}
{% block stylesheet %}
    {{ parent() }}
    <style>
    table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    
    border-radius:20px;
}

th, td {
    padding: 8px;
    text-align: center;
    
}

th {
    background-color: #764949;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f4a460;
}
.left-align {
    float: right;
}
    </style>
{% endblock %}
{% block  topic %}
<h1>Liste des topic</h1>
<table>
    <tr> 
        <th>Nom</th>
        <th>Sujet</th>
        <th>Image</th>
        <th>supprimer</th>
    </tr>
    {% for a in o %}
    <tr class="clickable-row" data-href="{{ path('afficher_post', {'Topic_id': a.Id}) }}">
        <td>{{ a.Nom }}</td>
        <td>{{ a.Subject }}</td>
        <td><img src="fayrouz.jpg"></td>
        <td><a href="{{ path('delete_topic', {'id': a.id}) }}">Supprimer un topic</a>
</td>
    </tr>
    {% endfor %}
</table>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var rows = document.querySelectorAll(".clickable-row");

        rows.forEach(function(row) {
            row.addEventListener("click", function() {
                window.location.href = this.dataset.href;
            });
        });
    });
</script>

{% endblock %}
<a href="{{ path('ajouter_topic') }}">Ajouter un topic</a>
{% endblock %}
