{% extends 'backOffice.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body %}
	<div class="container-xxl py-5">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-lg-6">
					<div
						class="about-img position-relative overflow-hidden p-5 pe-0">
						<!-- Replace 'projet.media' with 'categorie.image' -->
						{% if categorie.image %}
							<img class="img-fluid w-100" src="{{ asset('uploads/images/categorie/' ~ categorie.image) }}" alt="Categorie Image">
						{% endif %}
					</div>
				</div>
				<div class="col-lg-6">
					<h1 class="mb-6">{{ categorie.titre }}</h1>
					<p class="mb-6">{{ categorie.description }}</p>
					<div class="d-flex">
						<a class="btn btn-primary py-3 px-5 me-3" href="{{ path('app_categorie_edit', {'idCategorie': categorie.idCategorie}) }}">Modifier</a>
						<form action="{{ path('app_categorie_delete', {'idCategorie': categorie.idCategorie}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.idCategorie) }}">
							<button type="submit" class="btn btn-danger py-3 px-5 me-3">supprimer</button>
						</form>
						<a class="btn btn-secondary py-3 px-5" href="{{ path('app_categorie_index') }}">
							<i class="ti-arrow-left"></i>
							Retour à la liste</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
